<div class="block-content">
    <img class="bg-homepage" src="./img/bg-homepage.jpg" alt="background-picture">
    <p class="logan-homepage-ab">Today is a beautiful day. Let's make your work to do today now, <%= currentUser.displayName %> !!!</p>
    <a href="/addwork" class="btn letdoit">LET'S DO IT</a>
    <a class="btn checklist" href="/todolist">CHECK YOUR WORK LIST</a>
</div>