<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="new_name_todo">
        <input type="hidden" name="todo_id">
        <input type="submit" value="UPDATE">
    </form>
</body>
</html>